<h1 mat-dialog-title>
  {{ 'change_password.title' | translate }}
</h1>
<div mat-dialog-content>
  <form [formGroup]="form">

    <!-- STARE HASŁO -->
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>
        {{ 'change_password.form.old_password' | translate }}
      </mat-label>
      <input type="password" formControlName="oldPassword" required matInput>
      <mat-error *ngIf="form.controls.oldPassword.invalid">
        <app-form-error [errors]="form.controls.oldPassword.errors"></app-form-error>
      </mat-error>
    </mat-form-field>

    <!-- NOWE HASŁO -->
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>
        {{ 'change_password.form.new_password' | translate }}
      </mat-label>
      <input type="password" formControlName="newPassword" required matInput>
      <mat-error *ngIf="form.controls.newPassword.invalid">
        <app-form-error [errors]="form.controls.newPassword.errors"></app-form-error>
      </mat-error>
    </mat-form-field>

    <!-- POWTÓRZ NOWE HASŁO -->
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>
        {{ 'change_password.form.repeat_new_password' | translate }}
      </mat-label>
      <input type="password" formControlName="repeatNewPassword" required matInput>
      <mat-error *ngIf="form.controls.repeatNewPassword.invalid">
        <app-form-error [errors]="form.controls.repeatNewPassword.errors"></app-form-error>
      </mat-error>
    </mat-form-field>
  </form>

  <!-- KOMUNIKATY O BŁEDACH -->
  <app-error-alert [show]="hasError" [message]="'change_password.toasts.error.400'"></app-error-alert>
</div>
<div mat-dialog-actions>
  <span class="spacer"></span>
  <!-- ANULUJ -->
  <button mat-button (click)="onCancelClick()">
    {{ 'change_password.actions.cancel' | translate }}
  </button>
  <!-- ZATWIERDŹ -->
  <button appClickOnEnter (click)="onSubmit()" [disabled]="!form.touched || !form.valid" mat-button color="primary">
    {{ 'change_password.actions.save' | translate }}
  </button>
</div>